div#frill { z-index: 999999; position: absolute; max-width: 333px; padding: 0.5em 1em; padding-bottom: 1em; }
div#frill { border: 1px solid #ccc; background-color: #fff; color: #111; }
div#frill { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10pt; line-height: 80% }
div#frill h3 { font-size: 12pt; line-height: normal; font-weight: bolder; font-size: 1.17em; margin: .83em 0; padding: 0; }
div#frill h3 em { font-style: italic; font-weight: bolder; }
div#frill ul { display: block; list-style-type: disc; list-style-image: none; line-height: normal; margin: 0; padding: 0; padding-left: 2em; }
div#frill ul li { display: list-item; }
ul.styleless { list-style-type: none; margin-left:-25px;}
.bg-blue { background:#446CB3; color: #f2f2f2;}
.bg-whatsapp { background-color: #4FCE5D; }
.color-red { color:#CF000F; }
.color-blue { color: #446CB3; }
.color-dark-black { color: #2C3E50;}
.color-green { color: #1E824C;}
.rounded-corners { border-radius: 5px;}
u.dotted { border-bottom: 1px dashed #999; text-decoration: none; }
.normal-font {font-size: 16px;}
.biggest-font {font-size: 60px !important;}
.biggesttt-font {font-size: 170% !important; }
.big-font {font-size: 56px !important;}
.medium-font {font-size: 36px !important;}
.regular-font {font-size: 30px !important;}
.dotted {border-bottom: 1px dashed #999; text-decoration: none;}
#bring-a-friend{font-size: 20px;}
#square{width:65%;}
#align-left {text-align: left;}
#dotted{border: dotted #d1d1d1;width:65%;}

.white-black {
  color: white;
  background-color: #2d313c !important;
}

.white-orange {
  color: white;
  background-color: orange !important;
}

.white-green {
  color: white;
  background-color: #6ab04c !important;
}

.white-red {
  color: white;
  background-color: #ff7979 !important;
}

#header-banner a {
  color: white;
}

a #whatsapp {
  color:white;
}

header.bg-blue .navbar-nav a.nav-link {
  color: #dcdcdc;
}

header.bg-blue .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bordered {
  border: 7px solid white;
}

footer.fdb-block.footer-small {
  background-color: #2d313c;
  color: #eee;
}

footer.fdb-block.footer-small a {
  color: #eee;
}

footer.fdb-block.footer-small p {
  color: #eee;
}

@media (min-device-width: 481px) {
  .swiper-container {
    height: 400px;
    width: 100%;
  }

  #header-banner {
    background: #2d313c;
    padding: 5px;
    font-size: 18px;
    text-align: center;
  }
  
  .big-marketing-font {font-size: 230% !important; }
}

  /* iphone-portrait */
  @media screen and (max-width: 480px) { 
    .swiper-container {
      height: 300px;
      width: 100%;
    }

    #header-banner {
      background: #2d313c;
      padding: 5px;
      font-size: 14px;
      text-align: center;
    }
  
    .big-marketing-font {font-size: 110% !important; }
  }

  .thick_header {
    padding: 10px;
    border: 1px solid black;
  }

