<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    #app {
      margin: 50px;
    }
    </style>
</head>
<body>
  
<div id="app">
  <!-- default props -->
  <h2>Book</h2>
  <vue-slider
    ref="slider"
    v-model="value"
    v-bind="options"
  ></vue-slider>
  <h1>{{ value }}</h1>

  <h2>Chapter</h2>
    <vue-slider
    ref="slider"
    v-model="value"
    v-bind="options"
  ></vue-slider>
  <h1>{{ value }}</h1>

  <h2>Verse</h2>
  <vue-slider
    ref="slider"
    v-model="value"
    v-bind="options"
  ></vue-slider>
  <h1>{{ value }}</h1>

  <a target="_new" href="https://nightcatsama.github.io/vue-slider-component/#/">Vue slider component</a>
</div>
</body>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/theme/default.css">
<script src="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/dist/vue-slider-component.umd.min.js"></script>

<script>
  new Vue( {
  el: '#app',
  data () {
    return {
    	value: "matt",
      options: {
        dotSize: 40,
        width: 'auto',
        height: 10,
        contained: false,
        direction: 'ltr',
        min: null,
        max: null,
        interval: 10,
        disabled: false,
        clickable: true,
        duration: 0.5,
        adsorb: true,
        lazy: false,
        tooltip: 'active',
        tooltipPlacement: 'top',
        tooltipFormatter: void 0,
        useKeyboard: false,
        keydownHook: null,
        dragOnClick: false,
        enableCross: true,
        fixed: false,
        minRange: void 0,
        maxRange: void 0,
        order: true,
        data: ["matt", "mark","luke", "john", "acts", "rom", "1 cor", "2 cor", "gal","eph", "phil", "col", "1 thess", "2 thess","1 tim", "2 tim", "titus", "philemon", "heb", "james", "1 peter", "2 peter", "1 john", "2 john", "3 john", "jude", "rev"],
        marks: ["matt", "mark","luke", "john", "acts", "rom", "1 cor", "2 cor", "gal","eph", "phil", "col", "1 thess", "2 thess","1 tim", "2 tim", "titus", "philemon", "heb", "james", "1 peter", "2 peter", "1 john", "2 john", "3 john", "jude", "rev"],
//         marks: ["gen", "exo", "lev", "num", "deut", "josh", "judg", "ruth", "1 sam", "2 sam", "1 kings", "2 kings",
// "1 chron", "2 chron", "ezra", "neh", "est", "job", "psa", "prov", "eccl", "songs", "isa", "jer",
// "lam", "ezel", "dan", "hos", "joel", "amos", "obad", "jonah", "micah", "nahum", "hab", "zeph", "hag", "zech", "mal"],
        dotOptions: void 0,
        process: true,
        dotStyle: void 0,
        railStyle: void 0,
        processStyle: void 0,
        tooltipStyle: void 0,
        stepStyle: void 0,
        stepActiveStyle: void 0,
        labelStyle: void 0,
        labelActiveStyle: void 0,
      }
    }
  },
  methods: {
  },
  mounted () {
  },
  components: {
    'vueSlider': window[ 'vue-slider-component' ],
  }
})
</script>


</html>

