<footer class="fdb-block footer-small" data-block-type="footers" data-id="7">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6">
          <ul class="nav justify-content-center justify-content-md-start">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/papers">Free Papers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/address">Address</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/classes">Class Timings</a>
            </li>
          </ul>
          <p class="text-center">
            © Shalom Tuition 2018. Shalom means peace. 
          </p>
        </div>
  
        <div class="col mt-4 mt-md-0 text-center text-md-right">
          <a class="btn bg-whatsapp" href="https://api.whatsapp.com/send?phone=+6583338951&text=Hi.">Message Tutor on Whatsapp <i class="fab fa-whatsapp"></i></a>
           <p class="color-dark-black">Or sms at <u class="dotted">+65 8333-8951</u></p>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
      