<header class="bg-dark" data-block-type="headers" data-id="4">
    <div class="container">

      <div class="d-flex flex-column flex-md-row align-items-center 
                p-3 px-md-4 mb-3  border-bottom">
        <h5 class="my-0 mr-md-auto font-weight-normal">
          <a href="/">
            <b class="text-white">Shalom Tuition</b>
          </a>
        </h5>

        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-white" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="p-2 text-white" href="/">Free Exam Papers</a>
            <a class="p-2 text-white" href="contact">Contact Tutor</a>
            <a class="p-2 text-white" href="contact">Address</a>
        </nav>
      </div>


      <!-- <nav class="navbar navbar-expand-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav8" aria-controls="navbarNav8" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
        <div class="collapse navbar-collapse" id="navbarNav8">
          <ul class="navbar-nav mr-auto ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Free Exam Papers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact Tutor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Address</a>
            </li>
          </ul>
        </div>
      </nav> -->
    </div>
  </header>