<div id="header-banner" class="hidden-xs">
  <a id="whatsapp" href="https://api.whatsapp.com/send?phone=+6583338951&text=Dear Tutor, I am interested in engaging you for tuition ($20 off).">
    Contact tutor at (+65) 8333-8951 and get $20 off your first fee 💳.</a>
  </div>      
</div>

<header class="bg-blue">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <a href="/">
        <a href="/">
          <div class="p-2 rounded-corners bg-whatsapp">
            <b class="text-white">Shalom Tuition</b>
          </div>
        </a>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav3">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">
              About</a>
          </li>
            
          <li class="nav-item">
            <a class="nav-link" href="https://shalomtuition.herokuapp.com">
              Student Sign In</a>
          </li>
        </ul>

        <a class="text-white btn btn-outline-primary ml-md-3" 
        href="https://api.whatsapp.com/send?phone=+6583338951&text=Dear Tutor, I am interested in engaging you for tuition ($20 off).">Contact Tutor</a>
      </div>
    </nav>
  </div>
</header>
