<header class="bg-blue" data-block-type="headers" data-id="4">
    <div class="container">
      <div class="d-flex flex-column flex-md-row align-items-center 
                p-3 px-md-4 mb-3  border-bottom">
        <h5 class="my-0 mr-md-auto font-weight-normal">
          <a href="/">
            <a href="/"><b class="text-white">Shalom Tuition</b></a>
          </a>
        </h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-white" href="/address">Address</a>
          <a class="p-2 text-white" href="/pricing"><i class="fas fa-table"></i> Pricing</a>
          <a class="p-2 text-white" href="/classes"><i class="fas fa-clock"></i> Class timings</a>
          <a class="p-2 text-white" href="/contact"><i class="fa fa-comment"></i> +65 8333-8951</a>
          <a class="p-2 text-white" href="/papers">Free Exam Papers <i class="fas fa-arrow-alt-circle-down"></i></a>
        </nav>
      </div>
    </div>
  </header>